.testimonials {
  display: flex;
}
.testimonials_left {
  width: 50%;
  background-image: url(testimonials_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials_right {
  width: 50%;
  background: #5c3249;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6%;
  padding-bottom: 6%;
}
.testimonials_right_texth2 {
  display: flex;
  align-items: center;
  width: 60%;
}
.testimonials_right_texth2 h2 {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0%;
}
.testimonials_right_texth6 {
  display: flex;
  align-items: center;
  width: 60%;
}
.testimonials_right_texth6 h6 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
}
.slide_control {
  width: 10%;
  margin: 2% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slide_control a {
  height: auto;
}

.slide_control img:hover {
  background: #7e5d6f;
  border-radius: 20px;
  cursor: default;
}
@media (max-width: 1024px) {
  .testimonials_right_texth2 h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .testimonials_right_texth6 h6 {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 800px) {
  .testimonials {
    display: block;
  }
  .testimonials_left {
    height: 300px;
    width: 100%;
  }
  .testimonials_right {
    height: 300px;
    width: 100%;
    padding: 0%;
  }
  .testimonials_right_texth2 {
    width: 90%;
  }
  .testimonials_right_texth6 {
    width: 90%;
  }
  .slide_control {
    width: 20%;
  }
}
@media (max-width: 460px) {
  .testimonials_left {
    height: 300px;
    width: 100%;
    background-clip: content-box;
  }
}
